<div class="wrapper">
    <!--<p>{{creditcard$ | async}}</p>
    <p>{{payment.amount}}</p>-->

    <form [formGroup] = "paymentForm" class="payment-form">
    <mat-card class="payment-card">
        <mat-card-header>
            <mat-card-title>Payment Information</mat-card-title>
        </mat-card-header>
        <mat-card-content class="payment-card-content">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Card Number</mat-label>
                    <input class="text-color" matInput type="number" #number placeholder="Card Number" formControlName="cardNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Card Holder Name</mat-label>
                    <input matInput #name placeholder="Card Holder Name" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="row-width">
                    <mat-label>Expiry Month</mat-label>
                    <mat-select formControlName="expMonth">
                        <mat-option *ngFor="let value of NewMonth" value="{{value}}">{{value}}</mat-option>
                    </mat-select>                    
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="row-width">
                    <mat-label>Expiry Year</mat-label>
                    <mat-select formControlName="expYear">
                        <mat-option *ngFor="let value of years" value="{{value}}">{{value}}</mat-option>
                    </mat-select>                    
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="row-width">
                    <mat-label>CVV</mat-label>
                    <input class="text-color" matInput #cvv placeholder="CVV" formControlName="cvv">
                </mat-form-field>
        </mat-card-content>
    </mat-card>

<mat-card class="amount-wrapper">
<mat-card-content>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
    </mat-form-field>
    <button mat-raised-button color="primary" class="full-width" (click)="pay()">Pay Now</button>
</mat-card-content>
</mat-card>
    </form>
</div>